<section id="avaliacao">
    <h1>EXPOTEC - Avaliação do Evento</h1>
    <p>Qual é o seu nível de satisfação com o evento?</p>
    <div class="numbers">
        <div class="number-box" valor="1">1</div>
        <div class="number-box" valor="2">2</div>
        <div class="number-box" valor="3">3</div>
        <div class="number-box" valor="4">4</div>
        <div class="number-box" valor="5">5</div>
    </div>

    <section class="action-buttons">
        <button
            type="submit"
            class="button cancel"
            onclick="cancel('avaliacao')"
        >
            Cancelar
        </button>
        <button
            type="submit"
            class="button back"
            onclick="switchSection('avaliacao', 'localidade')"
        >
            Voltar
        </button>
        <button
            type="submit"
            class="button finish"
            onclick="finish()"
        >
            Finalizar
        </button>
    </section>
</section>
