<section id="start">
    <section class="emojis" id="emojis">
        <div>
            <i class="emoji e1 fa-regular fa-face-frown"></i>
        </div>
        <div>
            <i class="emoji e2 fa-regular fa-face-laugh"></i>
        </div>
        <div>
            <i class="emoji e3 fa-regular fa-face-meh"></i>
        </div>
    </section>
    <h1 id="title-main">EXPOTEC - Avaliação do Evento</h1>
    <p class="main-subtitle" id="subtitle-main">
        Que tal avaliar a sua experiência na nossa EXPOTEC? É simples e demora
        apenas alguns segundinhos. ;D
    </p>
    <button type="submit" class="main-button" onclick="start()">
        Iniciar avaliação
    </button>
</section>
